<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net45" />
  <package id="Castle.Windsor" version="4.1.0" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Shuttle.Core.Castle" version="8.0.7" targetFramework="net45" />
  <package id="Shuttle.Core.Data" version="8.0.1" targetFramework="net45" />
  <package id="Shuttle.Core.Infrastructure" version="8.0.6" targetFramework="net45" />
  <package id="Shuttle.Core.Log4Net" version="8.0.1" targetFramework="net45" />
  <package id="Shuttle.Core.ServiceHost" version="1.0.14" targetFramework="net45" />
  <package id="Shuttle.Esb" version="9.1.3" targetFramework="net45" />
  <package id="Shuttle.Esb.Castle" version="7.0.0" targetFramework="net45" />
  <package id="Shuttle.Esb.Msmq" version="9.0.0" targetFramework="net45" />
  <package id="Shuttle.Esb.Sql.Subscription" version="9.0.0" targetFramework="net45" />
</packages>