<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.4.0" targetFramework="net45" />
  <package id="log4net" version="2.0.7" targetFramework="net45" />
  <package id="Shuttle.Core.Castle" version="1.0.2" targetFramework="net45" />
  <package id="Shuttle.Core.Data" version="4.2.11" targetFramework="net45" />
  <package id="Shuttle.Core.Host" version="3.2.15" targetFramework="net45" />
  <package id="Shuttle.Core.Infrastructure" version="4.2.66" targetFramework="net45" />
  <package id="Shuttle.Core.Log4Net" version="3.2.13" targetFramework="net45" />
  <package id="Shuttle.Esb" version="7.0.57" targetFramework="net45" />
  <package id="Shuttle.Esb.Castle" version="7.0.0" targetFramework="net45" />
  <package id="Shuttle.Esb.Msmq" version="6.0.7" targetFramework="net45" />
  <package id="Shuttle.Esb.Sql" version="6.0.15" targetFramework="net45" />
</packages>