<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="Shuttle.Core.Host" version="3.2.15" targetFramework="net45" />
  <package id="Shuttle.Core.Infrastructure" version="4.2.54" targetFramework="net45" />
  <package id="Shuttle.Core.Ninject" version="1.0.1" targetFramework="net45" />
  <package id="Shuttle.Esb" version="7.0.45" targetFramework="net45" />
  <package id="Shuttle.Esb.Msmq" version="6.0.5" targetFramework="net45" />
</packages>