<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name='serviceBus' type="Shuttle.Esb.ServiceBusSection, Shuttle.Esb" />
	</configSections>

	<appSettings>
		<add key="azure" value="UseDevelopmentStorage=true;" />
	</appSettings>

	<serviceBus>
		<worker
			distributorControlWorkQueueUri="azuremq://azure/shuttle-server-control-inbox-work" />

		<inbox
			workQueueUri="azuremq://azure/shuttle-worker-work"
			errorQueueUri="azuremq://azure/shuttle-error" />
	</serviceBus>
</configuration>