<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name='serviceBus' type="Shuttle.Esb.ServiceBusSection, Shuttle.Esb" />
  </configSections>

  <serviceBus>
    <worker
      distributorControlWorkQueueUri="msmq://./shuttle-server-control-inbox-work" />

    <inbox
      workQueueUri="msmq://./shuttle-worker-work"
      errorQueueUri="msmq://./shuttle-error" />
  </serviceBus>
</configuration>