<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name='serviceBus' type="Shuttle.Esb.ServiceBusSection, Shuttle.Esb"/>
    <section name="subscription" type="Shuttle.Esb.Sql.Subscription.SubscriptionSection, Shuttle.Esb.Sql.Subscription"/>
	</configSections>

	<connectionStrings>
		<add name="Subscription"
			 connectionString="Data Source=.\sqlexpress;Initial Catalog=shuttle;Integrated Security=SSPI;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>

  <!--<subscription subscribe="Ignore" />-->

	<serviceBus>
		<inbox
		   workQueueUri="msmq://./shuttle-subscriber-work"
		   errorQueueUri="msmq://./shuttle-error" />
	</serviceBus>
</configuration>
