<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="serviceBus" type="Shuttle.ESB.Core.ServiceBusSection, Shuttle.ESB.Core" />
		<section name="tripleDES" type="Shuttle.ESB.Core.TripleDESSection, Shuttle.ESB.Core" />
	</configSections>

	<serviceBus>
		<worker distributorControlWorkQueueUri="msmq://./requestresponse-server-control-inbox-work" />
		<inbox workQueueUri="msmq://./requestresponse-worker-inbox-work" errorQueueUri="msmq://./shuttle-samples-error" threadCount="5" />
	</serviceBus>

	<tripleDES key="EC396C19-05BB-4C72-9F96-E515E3EC70E6" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.5.0" newVersion="3.3.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
