<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="serviceBus" type="Shuttle.Esb.ServiceBusSection, Shuttle.Esb" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="subscription" type="Shuttle.Esb.Sql.Subscription.SubscriptionSection, Shuttle.Esb.Sql.Subscription" />
  </configSections>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\invoicing-server" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100000KB" />
      <datePattern value="-yyyyMMdd.'log'" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="TRACE" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>

  <subscription connectionStringName="Invoicing" />

  <serviceBus>
    <inbox workQueueUri="rabbitmq://shuttle:shuttle!@localhost/invoicing-server"
           deferredQueueUri="rabbitmq://shuttle:shuttle!@localhost/invoicing-server-deferred"
           errorQueueUri="rabbitmq://shuttle:shuttle!@localhost/shuttle-error" />
  </serviceBus>

  <connectionStrings>
    <clear />
    <add name="Invoicing" providerName="System.Data.SqlClient"
         connectionString="Data Source=.\sqlexpress;Initial Catalog=ProcessManagement;Integrated Security=SSPI;" />
  </connectionStrings>
</configuration>