<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name='serviceBus' type="Shuttle.Esb.Core.ServiceBusSection, Shuttle.Esb.Core"/>
	</configSections>

	<serviceBus>
		<control
			workQueueUri="msmq://./shuttle-server-control-inbox-work"
			errorQueueUri="msmq://./shuttle-samples-error" />

		<inbox
		   distribute="true"
		   workQueueUri="msmq://./shuttle-server-work"
		   errorQueueUri="msmq://./shuttle-error" />
	</serviceBus>
</configuration>
