<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="shuttle-core-infrastructure" version="3.3.1" targetFramework="net45" />
  <package id="shuttle-esb-core" version="4.0.3" targetFramework="net45" />
  <package id="shuttle-esb-msmq" version="3.6.0" targetFramework="net45" />
</packages>