<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear/>
				<add value="index.html"/>
			</files>
		</defaultDocument>
		<staticContent>
			<remove fileExtension=".json"/>
			<remove fileExtension=".stache"/>
			<mimeMap fileExtension=".json" mimeType="text/jscript"/>
			<mimeMap fileExtension=".stache" mimeType="text/stache"/>
		</staticContent>
	</system.webServer>
</configuration>