<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="logs\shuttle-processmanagement" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="100000KB" />
			<datePattern value="-yyyyMMdd.'log'" />
			<param name="StaticLogFileName" value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d [%t] %-5p %c - %m%n" />
			</layout>
		</appender>
		<root>
			<level value="TRACE" />
			<appender-ref ref="RollingFileAppender" />
		</root>
		<logger name="Shuttle.Data" additivity="false">
			<level value="WARN" />
			<appender-ref ref="RollingFileAppender" />
		</logger>
	</log4net>
	<connectionStrings>
		<clear />
		<add
			name="ProcessManagement"
			connectionString="server=.;database=ProcessManagement;user id=sa;password=Pass!000"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>