<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="shuttle-core-infrastructure" version="4.0.3" targetFramework="net45" />
  <package id="shuttle-esb-core" version="4.2.0" targetFramework="net45" />
  <package id="shuttle-esb-msmq" version="3.7.0" targetFramework="net45" />
</packages>