<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="serviceBus" type="Shuttle.Esb.ServiceBusSection, Shuttle.Esb"/>
	</configSections>

	<serviceBus>
		<messageRoutes>
			<messageRoute uri="msmq://./shuttle-server-work">
				<add specification="StartsWith" value="Shuttle.RequestResponse.Messages"/>
			</messageRoute>
		</messageRoutes>

		<inbox workQueueUri="msmq://./shuttle-client-work" errorQueueUri="msmq://./shuttle-error" threadCount="1"/>
	</serviceBus>
</configuration>
