<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Shuttle.Core.Data" version="4.2.4" targetFramework="net45" />
  <package id="Shuttle.Core.Host" version="3.2.15" targetFramework="net45" />
  <package id="Shuttle.Core.Infrastructure" version="4.2.38" targetFramework="net45" />
  <package id="Shuttle.Esb" version="7.0.39" targetFramework="net45" />
  <package id="Shuttle.Esb.Msmq" version="6.0.5" targetFramework="net45" />
  <package id="Shuttle.Esb.SqlServer" version="6.0.10" targetFramework="net45" />
</packages>