<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="serviceBus" type="Shuttle.ESB.Core.ServiceBusSection, Shuttle.ESB.Core" />
  </configSections>

  <connectionStrings>
    <clear />
    <add name="Subscription" connectionString="Data Source=.;Initial Catalog=shuttle;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <serviceBus>
    <inbox workQueueUri="msmq://./pubsub-subscriber1-inbox-work" errorQueueUri="msmq://./shuttle-samples-error" />
  </serviceBus>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.5.0" newVersion="3.3.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
